.app-title{
text-align: center;
}

.todo-container{
background-color: aquamarine;
height: 400px;
overflow: scroll;
}

.todo-form-container{
  background-color: bisque;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.todo-title{
  margin: 10px;
}

.todo-description{
  margin: 10px;
}

.todo-add{
  margin: 10px;
}

.task-card{
  background-color: white;
  border:1px solid black;
  width: 400px;
  display: block;
  margin: 5px auto;
  padding: 10px;
  border-radius: 20px;
}