.app-title{
text-align: center;
}

.todo-container{
background-color: aquamarine;
height: 300px;
}

.todo-form-container{
  background-color: bisque;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.todo-title{
  margin: 10px;
}

.todo-description{
  margin: 10px;
}

.todo-add{
  margin: 10px;
}